# Neo4j
NEO4J_PASSWORD=<neo4j_password>
NEO4J_BOLT_URL=bolt://neo4j:<neo4j_password>@db:7687

# Django
SECRET_KEY=<django_secret_key>
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# SQLite
# sqlite:////app/db/django.sqlite3 - docker
# sqlite:///./db/django.sqlite3 - local
DATABASE_URL=sqlite:////app/db/django.sqlite3

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173

# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=15
REFRESH_TOKEN_LIFETIME_DAYS=7